@mixin margin-sides ($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin padding-sides ($padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin border ($width: $border-border-width, $style: $border-border-style, $color: $border-border-color) {
    border-width: $width;
    border-style: $style;
    border-color: $color;
}

@mixin sizes () {
    @for $i from 1 through length($size-sizes) {
        &.#{nth($size-sizes, $i)} {
            font-size: nth($size-sizes-vars, $i);
        }
    }
}

@mixin floats () {
    $floats:
        left,
        right;

    @for $i from 1 through length($floats) {
        &.#{nth($floats, $i)} {
            float: nth($floats, $i);
        }
    }
}

// Sizing shortcuts
// -------------------------
@mixin size($height, $width) {
    width: $width;
    height: $height;
}

@mixin square($size) {
    @include size($size, $size);
}