doctype 5
html(lang="en-US")
    head
        meta(charset="UTF-8")
        title Appular Project

        block head

    body(data-appular-app="default")

        header 
            block content

        block content

        footer
            block footer

        block scripts