doctype 5
html(lang="en-US")

    head
        meta(charset="UTF-8")
        title Appular Project

        block head
            link(rel='stylesheet', href='/css/mocha.css')

    body

        #mocha

        block content

        block scripts
            script(type="text/javascript")
                var testsToRun = !{JSON.stringify(tests)};
            script(src="/js/libraries/mocha/mocha.js")
            script(src="/js/libraries/chai/chai.js")
            script(src="/js/libraries/require/require.js", data-main="/js/libraries/require/configs/test")