// Variables ------------------------------------
$button-color: $color-gray-darker !default;

$button-background-color: $color-gray-lightest !default;
$button-background-color-hover-varient: 8% !default;

$button-border-width: $border-border-width !default;
$button-border-style: $border-border-style !default;
$button-border-color: $border-border-color !default;

$button-type-border-color-varient: 12% !default;

$button-line-height: $size-inline-height !default;

$button-border-radius: $border-border-radius !default;

$button-transition: 0.25s ease !default;

$button-padding: 0 .5em !default;

$button-active-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2) inset !default;


// Placeholders -----------------------------------
%button {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: $button-padding;
    line-height: $button-line-height;
    color: $button-color;
    background-color: $button-background-color;
    border-radius: $button-border-radius;

    @include user-select(none);

    @include border($button-border-width, $button-border-style, $button-border-color);

    @include transition(
        opacity $button-transition,
        background-color $button-transition,
        color $button-transition,
        box-shadow $button-transition
    );
}

%button-hover {
    background: darken($button-background-color, $button-background-color-hover-varient);
}

%button-active {
    box-shadow: $button-active-box-shadow;
}

%button-disabled {
    opacity: 0.4;
    cursor: not-allowed;

    &:hover {
        background:  $button-background-color;
    }
        
    &:active {
        box-shadow: none;
    }
}

@mixin button-type-color($color) {
    color: white;
    background-color: $color;
    border-color: darken($color, $button-type-border-color-varient);

    &:hover, &:active {
        background: darken($color, $button-background-color-hover-varient);
    }

    &.disabled {
        @extend %button-disabled;
    }
}


// Styles --------------------------------------
@if $include-component-button {
    .button {
        @extend %button;

        &:hover, &.hover {
            @extend %button-hover;
        }

        &:active, &.down {
            @extend %button-active;
        }

        // Types
        @for $i from 1 through length($color-types) {
            &.#{nth($color-types, $i)} {
                @include button-type-color(nth($color-types-vars, $i));
            }
        }

        @include floats();
        
        @include sizes();

        &.disabled {
            @extend %button-disabled;
        }
    }
}