// Variables ------------------------------------

$dropdown-line-height: $size-inline-height !default;

$dropdown-items-z-index: $z-index-dropdown-items !default;
$dropdown-items-border-radius: $border-border-radius !default;
$dropdown-items-min-width: 10em !default;
$dropdown-items-top: 115% !default;
$dropdown-items-background-color: white !default;
$dropdown-items-border-width: $border-border-width !default;
$dropdown-items-border-style: $border-border-style !default;
$dropdown-items-border-color: $border-border-color !default;

$dropdown-item-color: $color-primary !default;
$dropdown-item-padding: .7em !default;
$dropdown-item-hover-varient: 8% !default;
$dropdown-item-active-color: $color-gray-darker !default;
$dropdown-item-active-background-color: $color-body-background-color !default;


// Placeholders -----------------------------------
%dropdown {
    display: inline-block;
    position: relative;
}

%dropdown-open {
    
    .items {
        display: block;
    }
}

%dropdown-items {
    border-radius: $dropdown-items-border-radius;
    min-width: $dropdown-items-min-width;
    position: absolute;
    display: none;
    top: $dropdown-items-top;
    background-color: $dropdown-items-background-color;
    z-index: $dropdown-items-z-index;

    @include user-select(none);

    @include border($dropdown-items-border-width, $dropdown-items-border-style, $dropdown-items-border-color);    
}

%dropdown-items-right {
    right: 0;
}

%dropdown-item {
    display: block;
    width: 100%;
    color: $dropdown-item-color;
    line-height: $dropdown-line-height;
    white-space: nowrap;
    @include padding-sides($dropdown-item-padding);

    &:first-child {
        border-radius: $dropdown-items-border-radius $dropdown-items-border-radius 0 0;
    }

    &:last-child {
        border-radius: 0 0 $dropdown-items-border-radius $dropdown-items-border-radius;
    }
}

%dropdown-item-hover {
    background-color: visible-color($dropdown-items-background-color, $dropdown-item-hover-varient);
}

%dropdown-item-header {
    color: $color-gray-darker;
    cursor: default;

    &:hover {
        background-color: transparent;
    }
}


// Styles --------------------------------------
@if $include-component-dropdown {
    .dropdown {
        @extend %dropdown;

        .items {
            @extend %dropdown-items;

            &.right {
                @extend %dropdown-items-right;
            }
            
            .item {
                @extend %dropdown-item;
                
                &:hover {
                    @extend %dropdown-item-hover;
                }

                &.header {
                    @extend %dropdown-item-header;
                }
            }
        }


        &.open {
            @extend %dropdown-open;
        }

        @for $i from 1 through length($size-sizes) {
            &.#{nth($size-sizes, $i)} {
                .items {
                    font-size: nth($size-sizes-vars, $i);
                }
            }
        }

    }
}