// Variables -------------------------------------
$link-a-text-decoration: none !default;
$link-a-color: $color-link-color !default;

// Placehoders --------------------------------------
%link-a {
    text-decoration: $link-a-text-decoration;
    color: $link-a-color;
}

// Styles --------------------------------------
@if $include-component-link {
    a {
        @extend %link-a;
    }
}