extends layouts/main

block vars
    - var app = 'demo'

block head
    link(rel='stylesheet', href='/css/demo.css')

block content
    .demo-container
        .section
            .content Appular Demo 
        .section
            .content.clearfix(data-appular-component="filter")
        .section
            .header
                h3 Top Tips
            .contents(data-appular-component="tips-venues")
        .section
            .header
                h3 Recommended Places
            .content(data-appular-component="recommended-venues")