// Grays -------------------------
$color-black: #000 !default;
$color-gray-darkest: #111 !default;
$color-gray-darker: #333 !default;
$color-gray-dark: #666 !default;
$color-gray: #999 !default;
$color-gray-light: #CCC !default;
$color-gray-lighter: #EFEFEF !default;
$color-gray-lightest: #F9F9F9 !default;
$color-white: #fff !default;

$color-grays:
    black,
    gray-darkest,
    gray-darker,
    gray-dark,
    gray,
    gray-light,
    gray-lighter,
    gray-lightest,
    white
    !default;

$color-grays-vars:
    $color-black,
    $color-gray-darkest,
    $color-gray-darker,
    $color-gray-dark,
    $color-gray,
    $color-gray-light,
    $color-gray-lighter,
    $color-gray-lightest,
    $color-white
    !default;


// Types and type colors
// -------------------------
$color-primary: #0e90d2 !default;
$color-secondary: #42B8DD !default;
$color-info: #FAD232 !default;
$color-error: #dd514c !default;
$color-success: #5eb95e !default;
$color-warning: #F57B00 !default;

$color-types:
    primary,
    secondary,
    info,
    error,
    success,
    warning
    !default;

$color-types-vars:
    $color-primary,
    $color-secondary,
    $color-info,
    $color-error,
    $color-success,
    $color-warning
    !default;

// Social colors
$color-social-facebook: #3B579D !default;
$color-social-twitter: #00ACED !default;

// Base Colors ---------------------
$color-body-background-color: white !default;
$color-link-color: $color-secondary !default;