// Grays -------------------------
$color-black: #0a0a0b;
$color-gray-darkest: #141515;
$color-gray-darker: #3b3e3f;
$color-gray-dark: #616668;
$color-gray: #8b9092;
$color-gray-light: #c0c3c4;
$color-gray-lighter: #dfe1e1;
$color-gray-lightest: #f4f5f5;
$color-white: #fff;

// Types and type colors
// -------------------------
$color-primary: #0e90d2;
$color-secondary: #42B8DD;
$color-info: #FAD232;
$color-error: #dd514c;
$color-success: #5eb95e;
$color-warning: #F57B00;

// Base Colors ---------------------
$color-body-background-color: #f9fafa;
$color-link-color: $color-secondary;